.footer__contacts-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}
.footer-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-bg-social-icon-footer);
  transition: background-color var(--transition-duration-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.footer-social-link-icon {
  fill: var(--color-social-icon-footer);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-container);
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.logo__text_color_footer {
  color: var(--color-logo-footer);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
  transition: color var(--transition-duration-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address {
  font-style: normal;
}

.ccontacts-list__link_color_footer {
  color: var(--contact-color);
}
.footer-contact-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__contacts-list {
  display: block;
}
.contacts-list-footer__link {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
  transition: color var(--transition-duration-and-func);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .footer-contact-wrap {
    flex-direction: column;
    gap: 60px;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 60px;
  }
  .footer-wrap,
  .footer-text {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contact-wrap {
    margin-bottom: 60px;
  }
  .footer-mailing {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contact-wrap {
    gap: 70px;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
  }
}
