.gallery-subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery-text {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform 500ms linear;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--background-color-overlay);

  .img-link:hover &,
  .img-link:focus & {
    transform: translate(0, 0);
  }
}
.img-item-wrapper {
  position: relative;
  overflow: hidden;
}
// .img-item {
//   flex-basis: calc((100% - 60px) / 3);
// }

.img-link {
  display: block;
  transition: box-shadow var(--transition-duration-and-func);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.gallery-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid var(--color-border-gallery);
  background: var(--card-color);
}
@media screen and (max-width: 767px) {
  .img-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .img-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .img-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .img-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
