.page-header__container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .page-header__container {
    justify-content: space-between;
    padding: 10px 15px;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}
.page-header {
  border-bottom: 1px solid var(--color-border-heder);
  background-color: var(--color-heder);
}
