.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-color-logo);
}
.logo__text_color {
  color: var(--color-logo-header);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
