.main-title {
  margin-bottom: 31px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
  }
}
