.team-subtitle {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.team-card-content {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background: var(--card-color);
}

.section-team {
  background: var(--color-section-team);
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-text {
  margin-bottom: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-bg-icon);
  transition: background-color var(--transition-duration-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list-icon {
  fill: var(--color-social-list-icon);
  transition: fill var(--transition-duration-and-func);

  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: var(--color-social-icon-hover);
  }
}
@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
