.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.flex-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.features-list__item {
  flex-basis: calc((100% - 90px) / 4);
}
.features-list__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-list__icon {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 100px;
  padding-left: 100px;
  border-radius: 4px;
  background-color: var(--color-feature);
}

.features-list__text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
