.title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
  }
}
