:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --accent-color: #2196f3;
  --primary-color-logo: #2196f3;
  --color-logo-header: #000000;
  --color-logo-footer: #ffffff;
  --color-button: #2196f3;
  --color-button-accent: #188ce8;
  --color-container: #2f303a;
  --color-filter-btn: #f5f4fa;
  --color-filter-btn-accent: #2196f3;
  --contact-color: rgba(255, 255, 255, 0.6);
  --color-section-team: #f5f4fa;
  --card-color: #ffffff;
  --color-border-gallery: #eeeeee;
  --color-hero: #c4c4c4;
  --color-feature: #f5f4fa;
  --color-heder: #ffffff;
  --color-section: #ffffff;
  --color-border-heder: #ececec;
  --color-social-list-icon: #afb1b8;
  --color-bg-icon: #ffffff;
  --color-social-icon-hover: #ffffff;
  --color-social-icon-footer: #ffffff;
  --color-bg-social-icon-footer: rgba(255, 255, 255, 0.1);
  --color-border-client-list: #afb1b8;
  --color-client-list: #afb1b8;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --background-color-overlay: rgba(33, 150, 243, 0.9);
  --color-bg-modal-form-check: #ffff;
}
